<nav class="bg-secondary p-2 mb-4 text-white">
    <ul type="none" class="d-flex justify-content-evenly mt-4 align-items-center">
      <li> <a routerLink=""  class=" text-white text-decoration-none text-bold">Home</a> </li>
      <li> <a routerLink="/todo" routerLinkActive="active-route" class=" text-white text-decoration-none text-bold">To do App</a> </li>
      <li> <a routerLink="/quiz" routerLinkActive="active-route" class=" text-white text-decoration-none text-bold">Quiz App</a> </li>
      <li> <a routerLink="/directive" routerLinkActive="active-route" class="text-white text-decoration-none text-bold">Les directives</a> </li>
      <li> <a routerLink="/autres" routerLinkActive="active-route" class="text-white text-decoration-none text-bold">Autres</a> </li>
    </ul>
  </nav>