<nav class="bg-secondary p-2 mb-4 text-white">
    <ul type="none" class="d-flex justify-content-evenly mt-4 align-items-center">
      <li> <a routerLink="/portail"  class=" text-white text-decoration-none text-bold d-flex align-items-center justify-content-evenly " > <mat-icon>home</mat-icon> Home</a> </li>
      <li> <a routerLink="portail/todo" routerLinkActive="active-route" class=" text-white text-decoration-none text-bold align align-items-center d-flex "> <mat-icon>assignment</mat-icon> To do App</a> </li>
      <li> <a routerLink="portail/quiz" routerLinkActive="active-route" class=" text-white text-decoration-none text-bold align-items-center d-flex "> <mat-icon>favorite</mat-icon> Quiz App</a> </li>
      <li> <a routerLink="portail/directive" routerLinkActive="active-route" class="text-white text-decoration-none text-bold align-items-center d-flex "> <mat-icon>grade</mat-icon> Les directives</a> </li>
      <li> <a routerLink="portail/autres" routerLinkActive="active-route" class="text-white text-decoration-none text-bold align-items-center d-flex "> <mat-icon>fingerprint</mat-icon> Autres</a> </li>
      <li> <a routerLink="admin/profile" routerLinkActive="active-route" class="text-white text-decoration-none text-bold align-items-center d-flex "> <mat-icon>person</mat-icon> Profile</a> </li>
    </ul>
  </nav>
