<div class="container d-flex justify-content-center flex-column gn-items-center">
    <h1 >Home Page</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, quidem explicabo. Ipsum suscipit, mollitia neque harum quod enim impedit explicabo molestiae iusto aperiam alias animi numquam, minima maxime necessitatibus? Libero?
        Perferendis eligendi odio id nisi quam, fuga delectus nemo obcaecati praesentium amet, sunt minima consequuntur, cupiditate recusandae velit veniam vero natus nobis dignissimos vitae alias quo officia. Nesciunt, eveniet dolores!
        A, facilis. Sequi exercitationem eveniet perspiciatis. Quidem, amet earum hic commodi sunt ipsam officia, beatae ratione dicta ab asperiores cum? Possimus in maxime sequi! Commodi doloribus ducimus assumenda earum eius!
        Minima hic recusandae fuga eveniet consequatur consectetur maiores! Ex odit dolor rem, deserunt aspernatur earum dignissimos minus nisi? Labore assumenda totam, cupiditate unde a quo autem ab repellendus perferendis veniam.
        Dignissimos, voluptatibus ab sit error soluta quos minima tempora, unde maxime totam excepturi, labore recusandae? Perferendis, consequatur, nulla debitis quaerat soluta unde voluptatibus architecto, incidunt cum maiores illum ullam consectetur?
    </p>
</div>