<div class="container  d-flex justify-content-center flex-column gn-items-center">
    <h1 >Home Page</h1>
    <h2>Lorem.</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, quidem explicabo. Ipsum suscipit, mollitia neque harum quod enim impedit explicabo molestiae iusto aperiam alias animi numquam, minima maxime necessitatibus? Libero?
        Perferendis eligendi odio id nisi quam, fuga delectus nemo obcaecati praesentium amet, sunt minima consequuntur, cupiditate recusandae velit veniam vero natus nobis dignissimos vitae alias quo officia. Nesciunt, eveniet dolores!
        A, facilis. Sequi exercitationem eveniet perspiciatis. Quidem, amet earum hic commodi sunt ipsam officia, beatae ratione dicta ab asperiores cum? Possimus in maxime sequi! Commodi doloribus ducimus assumenda earum eius!
        Minima hic recusandae fuga eveniet consequatur consectetur maiores! Ex odit dolor rem, deserunt aspernatur earum dignissimos minus nisi? Labore assumenda totam, cupiditate unde a quo autem ab repellendus perferendis veniam.
        Dignissimos, voluptatibus ab sit error soluta quos minima tempora, unde maxime totam excepturi, labore recusandae? Perferendis, consequatur, nulla debitis quaerat soluta unde voluptatibus architecto, incidunt cum maiores illum ullam consectetur?
    </p>
    <h2>Lorem Gaol</h2>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, voluptas esse. Possimus aliquid quisquam, repudiandae iusto similique maxime quo animi sint explicabo nostrum necessitatibus quod id cumque magnam iure provident.
        Quos hic corporis cum incidunt eum beatae fuga deserunt illo debitis minima ut iure impedit, atque quidem repudiandae, exercitationem molestias quis pariatur culpa iusto. Architecto voluptas nam fugit sequi quam.
        Incidunt distinctio praesentium aut eaque cum dolorum perferendis, nam sit nisi nulla amet qui asperiores? Eos minus pariatur nisi accusantium eaque! Odio debitis ducimus numquam quaerat tempora. Doloribus, blanditiis harum!
        Architecto debitis cum quasi aut distinctio? Veritatis totam ipsa illum provident rem magnam, corrupti possimus facere accusamus dolores ipsum labore necessitatibus enim, architecto a tempore repudiandae fugit perferendis incidunt quas!
        Provident quae culpa ipsa explicabo ad consequuntur at saepe, harum autem possimus earum. Quibusdam eius maiores facere quae a, deserunt nihil non ratione, vero numquam ex! Voluptate dicta saepe reprehenderit?
        Dolorum quo aliquam dignissimos quibusdam aliquid assumenda nemo ipsam fugiat dolor sunt autem velit maxime vero voluptatibus laboriosam omnis quasi, illum minima ducimus. Dicta ipsam odio nostrum blanditiis optio harum!
        Aut est ex consequatur architecto cum necessitatibus in ab quas eos illum dignissimos doloribus quam, quod tempora non amet exercitationem error velit, nam cumque magni rem. Molestias autem minima aut.
        Incidunt quae nobis quam, fugit nemo exercitationem sit est molestias magni aliquid, harum eveniet a vero quis itaque velit nisi saepe! Laudantium illo eum libero? Odit sint id obcaecati rem!
        Rem iusto maiores quam corrupti magni, enim natus repellendus sint voluptatem obcaecati dicta illo iure officiis, doloribus dignissimos nam! Veniam, officia nesciunt? Amet odit veniam recusandae eveniet obcaecati, officiis minus?
        Veniam, perspiciatis quod expedita earum ab quos praesentium facere provident doloribus culpa minima est neque cupiditate quisquam placeat dolore voluptates nesciunt quaerat deserunt? Iusto, tempore harum. Optio quo asperiores esse?
    </p>
    <h2>Lorem, ipsum dolor.</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio assumenda consectetur illum optio quaerat expedita nam obcaecati ullam autem, ea quo, quod nobis id facilis exercitationem cum ratione quidem corrupti?
        Repellat quasi consequatur distinctio saepe est asperiores laborum nisi modi sint, quo sunt assumenda enim! Illum velit quibusdam commodi provident officia blanditiis magni tempore neque quis! Vel inventore vitae suscipit.
        Mollitia perspiciatis autem eius doloribus earum voluptate sequi veniam, fugit pariatur corrupti unde iusto, quae debitis labore saepe accusamus maiores repellat dolore rerum. Pariatur possimus, quam consequuntur quas quis voluptatem?
        Odio dolorem obcaecati aut autem quas velit nihil fugiat dicta, esse ut fugit quam iure labore. Non a ipsum impedit eaque aperiam reiciendis, quaerat totam rem facilis maxime vel veniam!
        Esse consectetur recusandae, vitae cumque, ut, ipsa quas repudiandae quis pariatur quod fugiat temporibus quisquam earum adipisci natus. Pariatur dolorem reiciendis enim quam amet eveniet voluptatem voluptate aliquid nisi odit.
    </p>
</div>